In [3]:
import pandas as pd
import numpy as np
from fastai import *
from fastai.text import *

In this notebook I am to solve the Spanish Airline Tweets Sentiment Analysis challenge from Kaggle.

https://www.kaggle.com/c/spanish-arilines-tweets-sentiment-analysis/overview/description

I have trained a model language on the spanish wikipedia that I will employ for the Kaggle task.

In [12]:
# import kaggle .csv file
df = pd.read_csv('./tweets_public.csv')
df.head()

  airline_sentiment  is_reply  ...  tweet_location               user_timezone
0           neutral     False  ...             NaN                      Madrid
1           neutral      True  ...             NaN                 Mexico City
2          negative     False  ...             NaN                      Madrid
3          negative     False  ...             NaN  Pacific Time (US & Canada)
4          positive      True  ...             NaN                Buenos Aires

[5 rows x 10 columns]

In [13]:
df = df.loc[:, ['airline_sentiment', 'text']]
df.airline_sentiment.replace(['negative', 'neutral', 'positive'], [0, 1, 2], inplace=True)

In [14]:
df

      airline_sentiment                                               text
0                     1  Trabajar en #Ryanair como #TMA: https://t.co/r...
1                     1  @Iberia @FIONAFERRER Cuando gusten en Cancún s...
2                     0  Sabiais que @Iberia te trata muy bien en santi...
3                     0  NUNCA NUNCA NUNCA pidáis el café de Ryanair.\n...
4                     2  @cris_tortu @dakar @Iberia @Mitsubishi_ES @BFG...
...                 ...                                                ...
7862                  0  @Iberia @iberiaexpress especialistas en dejart...
7863                  1  Con @Iberia, mi destino a un solo click. ¡Dese...
7864                  2                   @Iberia Muy bien. Muchas gracias
7865                  0  Es que volar con Ryanair es peor que irte a ch...
7866                  0  Iberia inaugura un nuevo espacio Premium para ...

[7867 rows x 2 columns]

Dataset ready, now we are going to mount the drive account to get to our:

* data model (spanish wikipedia)
* pretrained weights of the language model
* vocabulary of the model

In [15]:
from google.colab import drive
drive.mount("/content/drive")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive